#plans{
    background-color: #fff;
    padding: 50px 0;
    color: #000;
}

#plans-content{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.plan-items{
    /* border: 1px solid #000;  */
    width: 275px;
    height: 300px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}



.plans-headings{
    text-align: center;
    border-bottom: 1px solid #B71C1C;
    padding: 10px;
    background-color: #B71C1C;
    color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#yoga{
    background-image: url("../img/services/yoga.jpeg");
    background-size: cover;
    background-position: top;
}

#calisthenics{
    background-image: url("../img/services/calisthenics.jpeg");
    background-size: cover;
    background-position: top;
}

#p-trainig{
    background-image: url("../img/services/p-training.jpeg");
    background-size: cover;
    background-position: top;
}

#sauna{
    background-image: url("../img/services/sauna.jpeg");
    background-size: cover;
    background-position:top;

}

#locker{
    background-image: url("../img/services/locker.jpg");
    background-size: cover;
    background-position:top;
}

#p-therapy{
    background-image: url("../img/services/p-therapy.jpg");
    background-size: cover;
    background-position:top;
}
