*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #000;
    color: #fff;
}

button{
    background-color: #000;
    border-color: #000;
    display: none;
}

button:focus{
    outline-color: none;
}

.closeMenu{
    color: #B71C1C;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 20px;
}

#welcome{
    height: 100vh;
    background-image: url("../img/welcome.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome div{
    text-align: center;
}

#welcome p{
    font-size: 2rem;
    text-shadow: 1px 1px 5px #000;
}
#title{
    color: #fff;
    text-shadow: 4px 1px 5px #000;
    font-size: 4rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #000;
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
    
}

nav li{
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    color:#000;
}


.section{
    /* margin-top:75px; */
}

.heading{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

#about{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #B71C1C;
    padding:  100px 20px;
   
}


#about-content{
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    
}






#location{
    margin-bottom: 50px;
    padding: 50px 0;
}
#location-content{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
}

#location-content div{
    background-color: #B71C1C;
    padding: 50px;
    text-align: center;
    flex-basis: 275px;
    height: 250px;
    border-radius: 10px;
 
}



#map-img-div{
    background-image: url("../img/location.JPG");
    background-size: cover;
    background-position: center;
}

#map-img-div a{
    background-color: #B71C1C;
    border-color: #B71C1C;
}

#map-img-div a:hover{
    color: #000;
}

.message-bt{
    border: 1px solid #000;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin-top: 30%;
    background-color: #000;
}

.message-bt:hover{
    color: red;
}
footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #B71C1C;
}

#footer-div{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 20px auto;
}

#footer-div ul{
    list-style: none;
    text-align: left;
}

#footer-div a{
    color: #fff;

}

#footer-div a:hover{
    color: #B71C1C;
}


@media (max-width:730px){
    header{
        flex-wrap: wrap;
    }
    nav{
        width: 80%;
        margin: auto;
        padding-bottom: 40px;
        display:none;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-top: 30px;
        
    }

    nav li{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        background-color: #B71C1C;
        padding: 5px 0;
        border-radius: 5px;
    }

    nav a{
        display: block;
    }
    button{
        display: block;
    }
    

    #about{
        text-align: center;
    }
    
}
@media (max-width:600px){
    #title{
        font-size: 2.5rem;
    }

    #welcome p{
        font-size: 1.5rem;
    }
}

@media (max-width:390px){

    #logo-div{
        width: 70%;
    }

    #logo-div img{
        max-width: 100%;
    }

    #title{
        font-size: 2rem;
    }

    #welcome p{
        font-size: 1.2rem;
    }

    #about-content{
        width: 90%;
        font-size: 1.1rem;
    }

    .heading{
        text-align: center;
        font-size: 1.7rem;
    }
    button img{
        max-width: 100%;
    }

}

@media (max-width:1070px){
    .location-item{
        margin-bottom: 20px;
    }

    #footer-div{
        justify-content: center;
    }
}